
server {
    host : 127.0.0.1
    port : 7
    server_name : localhost
    bodysize_limit : 10
    default_error_pages : /path

    location / (
        method : GET, POST
        root : /path
        autoindex : on
        cgi : off
        default : index.html
    )

    location /test (
        method : GET, POST, DELETE
        root : /user/tmp
        autoindex : off
        cgi : on
        default : index.html
    )
        location /test/eradi (
        method : GET, POST, DELETE
        root : /user/tmp/eradi
        autoindex : off
        cgi : off
        default : index.html
    )
    location /upload (
        method : GET, POST, DELETE
        root : /Users/eradi-/Desktop/webserv/requests/
        autoindex : off
        cgi : off
        default : index.html
    )
}

server {
    host : 127.0.0.1
    port : 50
    server_name : localhost
    bodysize_limit : 10
    default_error_pages : /path

    location / (
        method : GET, POST
        root : /path
        autoindex : on
        cgi : off
        default : index.html
    )

    location /test (
        method : GET, POST
        root : /path
        autoindex : off
        cgi : off
        default : index.html
    )

    location /upload (
        method : GET, POST, DELETE
        root : /path
        autoindex : off
        cgi : off
        default : index.html
    )
}